<header><h2> <a class="navbar-brand blinking-text ms-3" href="#">AnimO</a></h2>
  
    <h6 class="d-flex justify-content-center w-100 text-white">What's your fav Anime Char?</h6>
 
</header>
  
  <main>
    <section class="gallery">
        <article class="picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXumTRmuuQpUVjjnt5uN9yTXw2pgfliSnn6Q&s" alt="Anime Picture 1">
            <p>Name</p>
        </article>
        <article class="picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuiOQ_6MpDp0NlkP4fj_VnrDZ67AxcTzsQdIuhd-S5-aX38yv7lBtPTxotCqnKdikfzug&usqp=CAU" alt="Anime Picture 2\">
            <p>Name</p>
        </article>

        <article class="picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZcrw5Wb9uK-6PLyRFG5dSW0mOzFoutBUUNu8OZJSUrQr9G3z7Gctys0C7ITyju_JUph8&usqp=CAU" alt="Anime Picture 1">
            <p>Name</p>
        </article>

        <article class="picture">
            <img src="https://i.pinimg.com/564x/53/b7/ba/53b7ba7c17545c02c07af0be750c3f28.jpg" alt="Anime Picture 1">
            <p>Name</p>
        </article>

        <article class="picture">
            <img src="https://i.pinimg.com/736x/1f/e0/68/1fe0680559ca1f6e3c4d9c056fcd9e36.jpg" alt="Anime Picture 1">
            <p>Name</p>
        </article>

        <article class="picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHT8BK588dhktxw-qOSvEIvdzFR3YjBJ-EfQ&s" alt="Anime Picture 1">
            <p>Name</p>
        </article>

        <article class="picture">
            <img src="https://i.pinimg.com/474x/d6/73/83/d673832359e8867b6e7e9d940ade5af7.jpg" alt="Anime Picture 1">
            <p>Name</p>
        </article>
        <!-- Add more pictures as needed -->
    </section>
</main>